@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 20%;
    }

    100% {
        opacity: 40%;
    }
}

@keyframes opacity1 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 40%;
    }

    100% {
        opacity: 60%;
    }
}

@keyframes slide-in {
    // from {
    //     opacity: 0;
    //     width: 100%;
    // }

    // to {
    //     opacity: 1;
    //     width: 100%;
    // }

    0% {
        opacity: 0;
        width: 100%;
    }

    30% {
        opacity: 0.6;
        width: 100%;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}
// @keyframes slidedown {
//     from {
//         margin-top: 100%;
//         width: 300%;
//     }

//     to {
//         margin-top: 0%;
//         width: 100%;
//     }
// }