// font-family
$font-primary: "Noto Sans JP", sans-serif;
$font-sec: "Barlow", sans-serif;
$font-noto: 'Noto Sans', sans-serif;
$font-oswald: "Oswald", sans-serif;

// colors
$color-primary: #1145F2;
$color-sec: #0943FF;
$color-white: #ffffff;
$color-offwhite: #F8F8F8;
$color-black: #000;
$color-black01: #090E21;
$color-black02: #0B131C;

$color-blue: #072FB7;
$color-blue01: #0077AD;
$color-blue02: #0077AC;
$color-blue03: #2FAFFF;
$color-blue04: #0A42FF;
$color-blue05: #0032DD;
$color-skyblue: #00BBE8;

$color-green: #017E5E;
$color-green01: #00EFB1;
$color-green02: #00EFB1;
$color-green03: #027E5E;
$color-lime: #8EC300;

$color-orange: #B74C00;
$color-orange01: #FF6A00;

$color-purple: #7300BC;
$color-purple01: #9D00FF;

$color-gray: #6C7183;
$color-gray01: #DCDEE5;
$color-gray02: #91929A;
