html {
    font-size: 10px;
    //for footer position bottom

    // height: 100%;
}

body {
    font-family: $font-primary;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-black01;
    line-height: 1.2;

    &::before {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: url(../img/common/sp-bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        content: "";
        @include mq("tablet") {
            background: url(../img/common/pc-bg.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }


    //for footer position bottom

    // display: flex;
    // flex-direction: column;
    // min-height: 100%;
}

.container {
    display: block;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;

    @include mq("phablet") {
        padding: 0;
        max-width: 546px;
    }

    @include mq("tablet") {
        max-width: 768px;
    }

    @include mq("tablet-wide") {
        max-width: 992px;
    }

    @include mq("desktop-sm") {
        max-width: 1280px;
    }

    @include mq("desktop") {
        max-width: 1440px;
    }

    @include mq("desktop-lg") {
        max-width: 1920px;
    }

    &-1200 {
        max-width: 100%;
        padding: 0 20px;
        margin: 0 auto;

        @include mq("tablet") {
            max-width: 1240px;
        }
    }
}

%reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    box-sizing: border-box;
}