.action{

    position: relative;

    &::before {
        position: absolute;
        content: '';
        background: url(../img/action/action-sp-bg.png) no-repeat;
        background-size: cover;
        background-position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 564px;
        z-index: -1;
        @include mq("tablet"){
            background: url(../img/action/action-pc-bg.png) no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

}