    .category {
        &-tag {
            &-list {
                background-color: $color-offwhite;
                border-radius: 4px;

                padding: 24px 20px;
                margin-bottom: 40px;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                @include mq("tablet") {
                    padding: 39px 35px 43px 40px;
                    margin-bottom: 80px;
                    gap: 24px;
                }
            }

            &-link {
                text-decoration: none;
                color: $color-primary;
                border: 1px solid $color-sec;
                background-color: $color-white;
                border-radius: 4px;

                font-size: 1.4rem;
                line-height: calc(20/14);

                padding-block: 10px;
                padding-inline: 11px 26px;
                transition: all .6s ease;
                position: relative;

                @include mq("tablet") {
                    font-size: 2rem;
                    line-height: calc(29/20);

                    padding-block: 14px;
                    padding-inline: 47px 55px;
                }

                &:hover {
                    color: $color-white;
                    border: 1px solid $color-white;
                    background-color: $color-sec;

                    &::after {
                        background: url(../img/common/arrow-white-sm.svg);

                        @include mq("tablet") {
                            background: url(../img/common/arrow-white.svg);
                        }
                    }
                }

                &::after {
                    top: 18px;
                    right: 10px;

                    @include mq("tablet") {
                        top: 25px;
                        right: 24px;
                    }
                }


                &::after {
                    position: absolute;
                    content: '';
                    background: url(../img/common/arrow-blue-sm.svg);
                    width: 6px;
                    height: 5px;

                    top: 18px;
                    right: 10px;

                    @include mq("tablet") {
                        background: url(../img/common/arrow-blue.svg);
                        width: 8px;
                        height: 7px;

                        top: 23px;
                        right: 12px;
                    }
                }
            }
        }


        &-wpr {
            padding-top: 30px;
            position: relative;

            @include mq("tablet") {
                padding-top: 104px;
            }

            .section {

                &-header {
                    margin-bottom: 28px;

                    @include mq("tablet") {
                        margin-bottom: 52px;
                    }

                    &::before {
                        content: none;
                    }

                    &::after {
                        content: none;
                    }
                }

                &-heading {

                    &-main {
                        margin-bottom: 5px;

                        @include mq("tablet") {
                            margin-bottom: 0;
                        }

                        &.white::after {
                            top: 10px;

                            @include mq("tablet") {
                                top: 27px;
                            }
                        }
                    }

                    &-sub {
                        color: $color-white;
                    }
                }
            }

            &::before {
                content: '';
                background: url(../img/column-level/column-wpr-bg.png) no-repeat;
                background-position: center;
                background-size: cover;

                position: absolute;
                width: 100%;
                height: 159px;
                top: 0;
                left: 0;
                z-index: -1;

                @include mq("tablet") {
                    height: 379px;
                }
            }

        }
    }